{% extends "header.njk" %}

{% block content %}

        <!-- HOME -->
            <section class="panel bg-home">
                <div class="section-inner">
                    <div class="home-title-wrapper">
                        <h1 class="home-title title">Welcome</h1>
                    </div>
                </div>
            </section>

        <!-- ABOUT -->
            <section class="panel bg-about">
                <div class="section-inner">

                    <div class="about-title-wrapper title">
                        <h1 class="about-title">About Me</h1>
                    </div>

                    <div class="frosted-card options">
                        <p>
                            Hi, I'm Tiqon Lediard Jr an Emerging Media major at
                            CUNY Hunter College with a passion for web development.
                        </p>
                        <p>
                            I specialize in HTML, CSS, JavaScript, Git/GitHub, GSAP, JSON, 
                            Handlebars, Node, React, and Express, and I'm actively seeking internship
                            or job opportunities where I can apply my skills, grow as a developer,
                            and contribute to creative, user-friendly web experiences.
                        </p>
                    </div>

                </div>
            </section>

        <!-- PROJECTS -->
            <section class="panel bg-projects">
                <div class="section-inner">

                    <div class="projects-title-wrapper">
                        <h1 class="projects-title">Projects</h1>
                    </div>
                    <div class = "options">
                        <div class = "frosted-card container">

                            <div class="card">
                                <h3 class="card-title">The Holy Snack</h3>
                                    <div class="bar">
                                        <div class="emptybar"></div>
                                        <div class="filledbar"></div>
                                    </div>
                                    <div class="circle">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                            <a href="https://itznotisrael.github.io/project1/"><circle class="stroke" cx="60" cy="60" r="50"/></a>
                                        </svg>
                                    </div>
                            </div>

                            <div class="card">
                                <h3 class="card-title">Anime Explorer</h3>
                                    <div class="bar">
                                        <div class="emptybar"></div>
                                        <div class="filledbar"></div>
                                    </div>
                                    <div class="circle">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                            <a href="https://project2-higd.onrender.com/"><circle class="stroke" cx="60" cy="60" r="50"/></a>
                                        </svg>
                                    </div>
                            </div>

                            <!--<div class="card">
                                <h3 class="card-title">Memory Vault</h3>
                                    <div class="bar">
                                        <div class="emptybar"></div>
                                        <div class="filledbar"></div>
                                    </div>
                                    <div class="circle">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                            <a href="https://final-project-jp5r.onrender.com/"><circle class="stroke" cx="60" cy="60" r="50"/></a>
                                        </svg>
                                    </div>
                            </div>-->

                            <div class="card">
                                <h3 class="card-title">Slideshow</h3>
                                    <div class="bar">
                                        <div class="emptybar"></div>
                                        <div class="filledbar"></div>
                                    </div>
                                    <div class="circle">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                            <a href="https://itznotisrael.github.io/slideshow/"><circle class="stroke" cx="60" cy="60" r="50"/></a>
                                        </svg>
                                    </div>        
                            </div>

                            <div class="card">
                                <h3 class="card-title">Card Deck</h3>
                                    <div class="bar">
                                        <div class="emptybar"></div>
                                        <div class="filledbar"></div>
                                    </div>
                                    <div class="circle">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                            <a href="https://itznotisrael.github.io/card-deck/"><circle class="stroke" cx="60" cy="60" r="50"/></a>
                                        </svg>
                                    </div>
                            </div>
                            <div class="card">
                                <h3 class="card-title">Loreforge</h3>
                                    <div class="bar">
                                        <div class="emptybar"></div>
                                        <div class="filledbar"></div>
                                    </div>
                                    <div class="circle">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                            <a href="https://itznotisrael.github.io/Spring2025_Final.github.io/myindex.html"><circle class="stroke" cx="60" cy="60" r="50"/></a>
                                        </svg>
                                    </div>
                            </div>
                        </div>
                    </div>
            </section>

        <!-- CONTACT -->
            <section class="panel bg-contact">
                <div class="section-inner">

                <div class="contact-title-wrapper title">
                    <h1 class="contact-title">Contact</h1>
                </div>

                <div class="frosted-card options"  id = "options">
                    <p>Email: ltiqon@gmail.com</p>
                    <p><a href="https://github.com/itznotisrael" class="underline">GitHub</a> · <a href="https://www.linkedin.com/in/tiqon-lediard-jr/" class="underline">LinkedIn</a></p>
                </div>

                </div>
            </section>
{% endblock %}